
h1 {
    text-align:center;
    font-family: monospace;
    font-size: 6vw;
    color: rgb(61, 60, 60);
    background-color: rgba(255, 20, 145, 0.829);
 
}
body {
    background-color: rgb(171, 219, 221);
    height: 50vh;
}
.block {
    display:block;
    margin:auto;
    border-radius: 15PX;
    width: min(50%, 700px);
    box-shadow: 0px 0px 20px rgba(53, 117, 40, 0.479);
}
#contents {
   
    margin:auto;
    width: min(70%,800px);
    font-size: 10px;
    border-radius: 10px;
    background-color: rgba(168, 255, 251, 0.74);
}
textarea {
    width: 200px;
}
.recipe,
.testing {
    text-align: center; 
    margin-left: 3vw;
    margin-right: 3vw;
   
    font-family: monospace;
}

a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.head,
h3   {
    text-align:center;
    font-family: monospace;
    margin-left:2vw;
    font-size: 4vw;
    color: rgb(61, 60, 60);
    background-color: rgba(255, 20, 145, 0.829);
 
}

.blockbread {
    display:block;
    margin:auto;
    transform: rotate(90deg);
    border-radius: 15PX;
    height: auto;
    width: 35vw;
    box-shadow: 0px 0px 20px rgba(53, 117, 40, 0.479);
}
.focaccia {
    display:block;
    margin:auto;
    border-radius: 15px;
    height: auto;
    width: 35vw;
    box-shadow: 0px 0px 20px rgba(53, 117, 40, 0.479);
}
div {
    text-align:center;
    font-family: monospace;
  

}
ul,
ol {
    margin-left: 0vw;
    margin-right: 6vw;
    text-align: left;
    text-align:left;
    font-family: monospace;
}

ul  {
    list-style-type: disc;
}

.margin  {
    margin-left: 7vw;
    margin-right: 9vw;
    text-align: left;
    color: rgb(61, 60, 60);
    font-family: monospace;
    font-size: 15px;
}
.steps   {

    background-color: rgba(250, 250, 250, 0.151);
    margin-right: 10%;
    text-align: center;
    color: rgb(61, 60, 60);
    list-style-type:none;
    font-family: monospace;
    font-size: 15px;
}
.link   { 
    font-size: 15px;
    color: blue;
    text-decoration: underline;
    
}
button  {
    margin-left: 45vw;
    border-radius: 2vw;
    background-color: coral;
}

.button {
    font-size: 2vw;
    color: blue;
}

table, th, td {
    border: 1px solid black;
    border-style:dashed;
    margin-left: auto;
    margin-right: auto;
  }

  